<div class="cred-invoice container text-center overflow-auto">
  <div class="content-box">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12 platform-logo">
            <div class="align-items-center d-flex justify-content-center">
              <img class="logo img-fluid w-15rem" alt="Logo Image" src="assets/logo.png" />
            </div>
          </div>
          <div class="col-md-12 mt-2 heading">
            <div class="row">
              <span class="header-title">
                <h5>Complete Your KYC Verification</h5>
              </span>
            </div>
            <div class="row">
              <span class="sub-title">
                Please complete your KYC verification by providing the required details below. Accurate information helps us verify your identity and business credentials securely. Your data will be safely stored and used solely for verification purposes. To avoid delays in approval, ensure that all uploaded documents are clear and valid. Once verified, you will gain full access to our platform and its financial tools.
              </span>
            </div>
          </div>
          <p-progressBar [value]="progress" [showValue]="false"></p-progressBar>
          <p-steps [model]="steps" [(activeIndex)]="activeStepIndex" [readonly]="true"></p-steps>
          <div class="step-content">
            <!-- Step 1: Company Details -->
            <div *ngIf="activeStepIndex === 0">
              <form [formGroup]="companyForm" class="col-md-12">
                <div class="row text-left mt-3">
                  <span class="header-title"><h6>Company Details</h6></span>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="company">Company Name</label>
                      <input pInputText formControlName="company" type="text" maxlength="100"
                             [ngClass]="{'error': (!companyForm.controls['company'].valid && (companyForm.controls['company'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!companyForm.controls['company'].valid && (companyForm.controls['company'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="companyForm.controls['company'].errors?.['required']">Company name is required</p>
                        <p class="validation-label mb-0" *ngIf="companyForm.controls['company'].errors?.['pattern']">Please Enter Valid Company Name</p>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="companyType">Company Type</label>
                      <p-dropdown formControlName="companyType" [options]="companyTypes" optionLabel="label" placeholder="Select Company Type"
                                  [ngClass]="{'error': (!companyForm.controls['companyType'].valid && (companyForm.controls['companyType'].touched || kycSubmitAttempt))}" />
                      <span class="error-div" *ngIf="(!companyForm.controls['companyType'].valid && (companyForm.controls['companyType'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="companyForm.controls['companyType'].errors?.['required']">Company Type is required</p>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="email">Email Address</label>
                      <input pInputText formControlName="email" type="text" maxlength="100"
                             [ngClass]="{'error': (!companyForm.controls['email'].valid && (companyForm.controls['email'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!companyForm.controls['email'].valid && (companyForm.controls['email'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="companyForm.controls['email'].errors?.['required']">Email Address is required</p>
                        <p class="validation-label mb-0" *ngIf="companyForm.controls['email'].errors?.['email']">Please Enter Valid Email Address</p>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="phone">Phone Number</label>
                      <input pInputText formControlName="phone" type="text" maxlength="100"
                             [ngClass]="{'error': (!companyForm.controls['phone'].valid && (companyForm.controls['phone'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!companyForm.controls['phone'].valid && (companyForm.controls['phone'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="companyForm.controls['phone'].errors?.['required']">Phone Number is required</p>
                        <p class="validation-label mb-0" *ngIf="companyForm.controls['phone'].errors?.['pattern']">Please Enter Valid Phone Number</p>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="nature">Nature of Business</label>
                      <input pInputText formControlName="nature" type="text" maxlength="100"
                             [ngClass]="{'error': (!companyForm.controls['nature'].valid && (companyForm.controls['nature'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!companyForm.controls['nature'].valid && (companyForm.controls['nature'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="companyForm.controls['nature'].errors?.['required']">Nature of business is required</p>
                        <p class="validation-label mb-0" *ngIf="companyForm.controls['nature'].errors?.['pattern']">Please Enter Valid Nature of business</p>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="incorpDate">Date of Incorporation</label>
                      <p-calendar formControlName="incorpDate" [showIcon]="true" appendTo="body" [showOnFocus]="false" inputId="buttondisplay"
                                  [ngClass]="{'error': (!companyForm.controls['incorpDate'].valid && (companyForm.controls['incorpDate'].touched || kycSubmitAttempt))}" />
                      <span class="error-div" *ngIf="(!companyForm.controls['incorpDate'].valid && (companyForm.controls['incorpDate'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="companyForm.controls['incorpDate'].errors?.['required']">Date of Incorporation is required</p>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-12">
                    <div class="row justify-content-end">
                      
                         <div class="col-auto">
                            <p-button label="Next" (onClick)="nextStep()"></p-button>
                        </div>
                    </div>                   
                  </div>
                </div>
              </form>
            </div>
            <!-- Step 2: Business & Tax Details -->
            <div *ngIf="activeStepIndex === 1">
              <form [formGroup]="businessTaxForm" class="col-md-12">
                <div class="row text-left mt-3">
                  <span class="header-title"><h6>Business & Tax Details</h6></span>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="pan">Business PAN</label>
                      <input pInputText formControlName="pan" type="text" maxlength="100"
                             [ngClass]="{'error': (!businessTaxForm.controls['pan'].valid && (businessTaxForm.controls['pan'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!businessTaxForm.controls['pan'].valid && (businessTaxForm.controls['pan'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="businessTaxForm.controls['pan'].errors?.['required']">Business PAN is required</p>
                        <p class="validation-label mb-0" *ngIf="businessTaxForm.controls['pan'].errors?.['pattern']">Please Enter Valid Business PAN</p>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="gst">GST</label>
                      <input pInputText formControlName="gst" type="text" maxlength="100"
                             [ngClass]="{'error': (!businessTaxForm.controls['gst'].valid && (businessTaxForm.controls['gst'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!businessTaxForm.controls['gst'].valid && (businessTaxForm.controls['gst'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="businessTaxForm.controls['gst'].errors?.['required']">GST is required</p>
                        <p class="validation-label mb-0" *ngIf="businessTaxForm.controls['gst'].errors?.['pattern']">Please Enter Valid GST</p>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                   <div class="col-md-12">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <p-button label="Previous" (onClick)="prevStep()"></p-button>
                        </div>
                         <div class="col-auto">
                            <p-button label="Next" (onClick)="nextStep()"></p-button>
                        </div>
                    </div>                   
                  </div>
                </div>
              </form>
            </div>
            <!-- Step 3: Bank Details -->
            <div *ngIf="activeStepIndex === 2">
              <form [formGroup]="bankForm" class="col-md-12">
                <div class="row text-left mt-3">
                  <span class="header-title"><h6>Bank Details</h6></span>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="accountNumber">Bank Account Number</label>
                      <input pInputText formControlName="accountNumber" type="text" maxlength="100"
                             [ngClass]="{'error': (!bankForm.controls['accountNumber'].valid && (bankForm.controls['accountNumber'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!bankForm.controls['accountNumber'].valid && (bankForm.controls['accountNumber'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="bankForm.controls['accountNumber'].errors?.['required']">Account Number is required</p>
                        <p class="validation-label mb-0" *ngIf="bankForm.controls['accountNumber'].errors?.['pattern']">Please Enter Valid Account Number</p>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="ifsc">Bank IFSC</label>
                      <input pInputText formControlName="ifsc" type="text" maxlength="100"
                             [ngClass]="{'error': (!bankForm.controls['ifsc'].valid && (bankForm.controls['ifsc'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!bankForm.controls['ifsc'].valid && (bankForm.controls['ifsc'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="bankForm.controls['ifsc'].errors?.['required']">Bank IFSC is required</p>
                        <p class="validation-label mb-0" *ngIf="bankForm.controls['ifsc'].errors?.['pattern']">Please Enter Valid Bank IFSC</p>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <p-button label="Previous" (onClick)="prevStep()"></p-button>
                        </div>
                         <div class="col-auto">
                            <p-button label="Next" (onClick)="nextStep()"></p-button>
                        </div>
                    </div>                   
                  </div>
                </div>
              </form>
            </div>
            <!-- Step 4: Address Details -->
            <div *ngIf="activeStepIndex === 3">
              <form [formGroup]="addressForm" class="col-md-12">
                <div class="row text-left mt-3">
                  <span class="header-title"><h6>Communication Address</h6></span>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="addrline1">Address Line1</label>
                      <input pInputText formControlName="addrline1" type="text" maxlength="100"
                             [ngClass]="{'error': (!addressForm.controls['addrline1'].valid && (addressForm.controls['addrline1'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!addressForm.controls['addrline1'].valid && (addressForm.controls['addrline1'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['addrline1'].errors?.['required']">Address Line1 is required</p>
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['addrline1'].errors?.['pattern']">Please Enter Valid Address Line1</p>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="addrline2">Address Line2</label>
                      <input pInputText formControlName="addrline2" type="text" maxlength="100"
                             [ngClass]="{'error': (!addressForm.controls['addrline2'].valid && (addressForm.controls['addrline2'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!addressForm.controls['addrline2'].valid && (addressForm.controls['addrline2'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['addrline2'].errors?.['pattern']">Please Enter Valid Address Line2</p>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="district">District</label>
                      <input pInputText formControlName="district" type="text" maxlength="100"
                             [ngClass]="{'error': (!addressForm.controls['district'].valid && (addressForm.controls['district'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!addressForm.controls['district'].valid && (addressForm.controls['district'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['district'].errors?.['required']">District is required</p>
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['district'].errors?.['pattern']">Please Enter Valid District</p>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="city">City</label>
                      <input pInputText formControlName="city" type="text" maxlength="100"
                             [ngClass]="{'error': (!addressForm.controls['city'].valid && (addressForm.controls['city'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!addressForm.controls['city'].valid && (addressForm.controls['city'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['city'].errors?.['required']">City is required</p>
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['city'].errors?.['pattern']">Please Enter Valid City</p>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="state">State</label>
                      <input pInputText formControlName="state" type="text" maxlength="100"
                             [ngClass]="{'error': (!addressForm.controls['state'].valid && (addressForm.controls['state'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!addressForm.controls['state'].valid && (addressForm.controls['state'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['state'].errors?.['required']">State is required</p>
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['state'].errors?.['pattern']">Please Enter Valid State</p>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="pincode">Pin Code</label>
                      <input pInputText formControlName="pincode" type="text" maxlength="100"
                             [ngClass]="{'error': (!addressForm.controls['pincode'].valid && (addressForm.controls['pincode'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!addressForm.controls['pincode'].valid && (addressForm.controls['pincode'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['pincode'].errors?.['required']">Pincode is required</p>
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['pincode'].errors?.['pattern']">Please Enter Valid Pincode</p>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="country">Country</label>
                      <input pInputText formControlName="country" type="text" maxlength="100"
                             [ngClass]="{'error': (!addressForm.controls['country'].valid && (addressForm.controls['country'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!addressForm.controls['country'].valid && (addressForm.controls['country'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['country'].errors?.['required']">Country is required</p>
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['country'].errors?.['pattern']">Please Enter Valid Country</p>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row text-left mt-3">
                  <span class="header-title"><h6>Billing Address</h6></span>
                  <span>
                    <p-checkbox formControlName="checked" [binary]="true" inputId="binary" /> <small>Same as Communication address</small>
                  </span>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="baddrline1">Address Line1</label>
                      <input pInputText formControlName="baddrline1" type="text" maxlength="100"
                             [ngClass]="{'error': (!addressForm.controls['baddrline1'].valid && (addressForm.controls['baddrline1'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!addressForm.controls['baddrline1'].valid && (addressForm.controls['baddrline1'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['baddrline1'].errors?.['required']">Address Line1 is required</p>
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['baddrline1'].errors?.['pattern']">Please Enter Valid Address Line1</p>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="baddrline2">Address Line2</label>
                      <input pInputText formControlName="baddrline2" type="text" maxlength="100"
                             [ngClass]="{'error': (!addressForm.controls['baddrline2'].valid && (addressForm.controls['baddrline2'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!addressForm.controls['baddrline2'].valid && (addressForm.controls['baddrline2'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['baddrline2'].errors?.['pattern']">Please Enter Valid Address Line2</p>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="bdistrict">District</label>
                      <input pInputText formControlName="bdistrict" type="text" maxlength="100"
                             [ngClass]="{'error': (!addressForm.controls['bdistrict'].valid && (addressForm.controls['bdistrict'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!addressForm.controls['bdistrict'].valid && (addressForm.controls['bdistrict'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['bdistrict'].errors?.['required']">District is required</p>
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['bdistrict'].errors?.['pattern']">Please Enter Valid District</p>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="bcity">City</label>
                      <input pInputText formControlName="bcity" type="text" maxlength="100"
                             [ngClass]="{'error': (!addressForm.controls['bcity'].valid && (addressForm.controls['bcity'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!addressForm.controls['bcity'].valid && (addressForm.controls['bcity'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['bcity'].errors?.['required']">City is required</p>
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['bcity'].errors?.['pattern']">Please Enter Valid City</p>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="bstate">State</label>
                      <input pInputText formControlName="bstate" type="text" maxlength="100"
                             [ngClass]="{'error': (!addressForm.controls['bstate'].valid && (addressForm.controls['bstate'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!addressForm.controls['bstate'].valid && (addressForm.controls['bstate'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['bstate'].errors?.['required']">State is required</p>
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['bstate'].errors?.['pattern']">Please Enter Valid State</p>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="bpincode">Pin Code</label>
                      <input pInputText formControlName="bpincode" type="text" maxlength="100"
                             [ngClass]="{'error': (!addressForm.controls['bpincode'].valid && (addressForm.controls['bpincode'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!addressForm.controls['bpincode'].valid && (addressForm.controls['bpincode'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['bpincode'].errors?.['required']">Pincode is required</p>
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['bpincode'].errors?.['pattern']">Please Enter Valid Pincode</p>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="flex flex-column mb-2 text-left">
                      <label for="bcountry">Country</label>
                      <input pInputText formControlName="bcountry" type="text" maxlength="100"
                             [ngClass]="{'error': (!addressForm.controls['bcountry'].valid && (addressForm.controls['bcountry'].touched || kycSubmitAttempt))}">
                      <span class="error-div" *ngIf="(!addressForm.controls['bcountry'].valid && (addressForm.controls['bcountry'].touched || kycSubmitAttempt))">
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['bcountry'].errors?.['required']">Country is required</p>
                        <p class="validation-label mb-0" *ngIf="addressForm.controls['bcountry'].errors?.['pattern']">Please Enter Valid Country</p>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row mt-6 mb-6">
                    <div class="col-md-12">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <p-button label="Next" (onClick)="prevStep()"></p-button>
                        </div>
                         <div class="col-auto">
                            <p-button label="Submit KYC Details" (onClick)="kycFormSubmit()"></p-button>
                        </div>
                    </div>                   
                  </div>               
                </div>
              </form>
            </div>
            <div *ngIf="activeStepIndex === 4">
                <form [formGroup]="documentForm" class="col-md-12" (ngSubmit)="onDocumentUploadSubmit()">
  <div class="row text-left mt-3">
    <span class="header-title">
      <h6>Document Details</h6>
    </span>
  </div>

  <div class="row align-items-center">
    <!-- Document Type -->
    <div class="col-md-3">
      <div class="flex flex-column mb-2 text-left">
        <label for="documentType">Document Type</label>
        <p-dropdown
          formControlName="documentType"
          [options]="documentTypes"
          optionLabel="label"
          placeholder="Select Document Type"
          [ngClass]="{
            error: !documentForm.controls['documentType'].valid &&
              (documentForm.controls['documentType'].touched || kycSubmitAttempt)
          }"
        ></p-dropdown>
        <span
          class="error-div"
          *ngIf="
            !documentForm.controls['documentType'].valid &&
            (documentForm.controls['documentType'].touched || kycSubmitAttempt)
          "
        >
          <p class="validation-label mb-0" *ngIf="documentForm.controls['documentType'].errors?.['required']">
            Document Type is required
          </p>
        </span>
      </div>
    </div>

    <!-- Upload Document -->
    <div class="col-md-3">
      <div class="flex flex-column mb-2 text-left">
        <label>Upload Document</label>
        <div class="card flex justify-content-center">
          <p-fileUpload
          #fileUpload
            mode="basic"
            chooseLabel="Choose Document"
            chooseIcon="pi pi-cloud-upload"
            name="demo[]"
            accept=".pdf"
            maxFileSize="1000000"
            (onSelect)="onSelectedFiles($event)"
            (onUpload)="onUpload($event)"
          ></p-fileUpload>
        </div>
        <span class="error-div" *ngIf="uploadedFiles.length === 0 && kycSubmitAttempt">
          <p class="validation-label mb-0">KYC Document is required</p>
        </span>
      </div>
    </div>

    <!-- Upload Button -->
    <div class="col-md-3 offset-md-3">
      <p-button class="btn-success" type="submit" label="Upload"></p-button>
    </div>
  </div>

   <div class="row align-items-center">
            <p-table [value]="kycDocuments"   [paginator]="true" [rows]="10" styleClass="p-datatable-striped" [first]="first"
                [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Document Name</th>
                        <th>Download</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-document let-rowIndex="rowIndex">
                    <tr>                        
                        <td>{{document?.document_type?.name}}</td>
                         <td> <span class="invoice" *ngIf="document?.file_content" (click)="downloadBase64File(document?.file_content, document?.file_name, 'application/pdf')"> <i
                            class="pi pi-eye mr-2"></i>View</span></td>
                        <td class="actions">
                            <p-button class="btn-danger mr-2" label="Delete"  type="button" (click)="deleteDocument(document)"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

  <!-- Action Buttons -->
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="row justify-content-end">
        <div class="col-auto">
          <p-button label="Previous" (onClick)="prevStep()"></p-button>
        </div>
        <div class="col-auto">
          <p-button label="Submit for review"></p-button>
        </div>
      </div>
    </div>
  </div>
</form>

              
       
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>