<div class="row app-container">
    <div class="col-md-12">
        <div class="row align-items-center">
            <div class="col-3">
                <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"
                    placeholder="Select a City" />
            </div>
            <div class="col-4"></div>
            <div class="col-3">
                <div class="card flex justify-content-center actions">
                    <p-button [outlined]="true">
                        <img alt="edit" class="img-fluid" src="/assets/table-icons/percent_white.png" /> <span class="font-medium">Add Discount for Selected</span>
                    </p-button>
                    </div>
            </div>
            <div class="col-2">
                <div class="card flex justify-content-center actions">
                    <p-button label="Add an Invoice"  icon="pi pi-plus" class="btn-secondary" >                        
                    </p-button>
                    </div>
            </div>
        </div>
        <div class="row align-items-center">
        <p-table
        [value]="products"
        [paginator]="true"
        [rows]="10"
        styleClass="p-datatable-striped" 
        [first]="first"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
    >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                        <th>Number</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Due Date</th>
                        <th>Invoice pdf's</th>
                        <th>Discount</th>
                        <th>After Discount</th>
                        <th>New Due Date</th>
                        <th>Items</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="product" />
                        </td>
                        <td>77779777</td>
                        <td>77Lakhs</td>
                        <td>01/04/2025</td>
                        <td>01/04/2025</td>
                        <td class="invoice"><a href="javascript:void(0)"></a>{{product.invoice}}</td>                       
                        <td>3.75%</td>
                        <td>74.12Lakhs</td>
                        <td>01/04/2025</td>
                        <td class="invoice">18</td>
                        <td class="actions">
                            <img alt="trash" class="img-fluid" src="/assets/table-icons/Trash.png" />
                                    <img alt="edit" class="img-fluid" src="/assets/table-icons/Pencil.png" />
                                    <img alt="edit" class="img-fluid" src="/assets/table-icons/percent_green.png" /> <span class="success font-medium">Discount</span>
                        </td>
                    </tr>
                </ng-template>
        </p-table>
            </div>
    </div>
</div>