<p-toast />
    <p-confirmPopup />
<div class="row app-container">
    <div class="col-md-12">
        <div class="row align-items-center">
            <div class="col-3">
                <p-dropdown [options]="sellers" [(ngModel)]="selectedCity" optionLabel="label"
                    placeholder="Select Seller" />
            </div>
            <div class="col-3"></div>
            <div class="col-3">
                <!-- <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-search"></i>
                    </p-inputGroupAddon>
                    <input pInputText placeholder="Search..." />
                </p-inputGroup> -->
            </div>
            <div class="col-3">
                <div class="card flex justify-content-center actions">
                    <p-button label="Create a New Invoice" routerLink="/home/create-invoice"  icon="pi pi-plus">
                    </p-button>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-auto">
                <label class="font-medium">Selected Sellelrs: </label>
            </div>
            <div class="col">
                <div class="flex align-items-center gap-2 flex-wrap pt-1 pb-1">
                    <ng-template ngFor let-seller [ngForOf]="sellers" let-i="index">
                        <p-chip [label]="seller.label" [removable]="true" />
                    </ng-template>
                </div>
            </div>         
        </div>
        <div class="row align-items-center">
            <p-table [value]="invoices" [(selection)]="selectedInvoices" dataKey="id" [paginator]="true" [rows]="10" styleClass="p-datatable-striped" [first]="first"
                [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 2rem"><p-tableHeaderCheckbox /></th>
                        <th>Seller</th>
                        <th>Number</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Due Date</th>
                        <th>Invoice pdf's</th>
                        <th>Status</th>
                        <th>Discount</th>
                        <th>After Discount</th>
                        <th>Disbursement On</th>
                        <th>Fund By</th>
                        <th>Items</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-invoice let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="invoice" />
                        </td>
                        <td><a href="javascript:void(0)" class="invoice"><img alt="seller" class="img-fluid" title="Seller" src="/assets/table-icons/seller.png" />{{getSellerName(invoice)}}</a></td>
                        <td>
                            <a href="javascript:void(0)" class="invoice" (click)="viewInvoiceDetails(invoice)">
                                {{invoice?.invoice_number}}</a>
                           </td>
                        <td>{{invoice?.invoice_amount}}</td>
                        <td>{{invoice?.invoice_date | date:'dd-MM-yyyy' }}</td>
                        <td>{{invoice?.invoice_due_date | date:'dd-MM-yyyy'}}</td>
                        <td class="invoice"><a href="javascript:void(0)"></a>File {{rowIndex + 1}}</td>
                        <td> <span class="status {{invoice.status}}">{{invoice?.status}}</span> </td>
                        <td>{{invoice?.discount}}%</td>
                        <td>{{invoice?.discounted_amount}}</td> 
                        <td>{{invoice?.disbursement_date | date:'dd-MM-yyyy'}}</td>
                        <td>{{invoice?.fund_by}}</td> 
                        <td class="invoice cursor-pointer" (click)="showItems(invoice)">{{invoice?.items?.length}}</td>
                        <td class="actions" [ngClass]="this.selectedInvoices.length > 0 ? 'actions-disabled' : ''">
                            <img alt="trash"  class="img-fluid"   (click)="delete(invoice)"  title="Delete" src="/assets/table-icons/Trash.png" />
                            <img alt="edit" class="img-fluid"  (click)="edit(invoice)" title="Edit" src="/assets/table-icons/Pencil.png" />
                            <img alt="discount" (click)="visible = true" class="img-fluid"  title="Discount" src="/assets/table-icons/percent_green.png" /> 
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="row invoice-bottom-div align-items-center mt-2">
            <div class="col-1"></div>
            <div class="col-10">
                <p-card>
                    <div class="row align-items-center">
                        <div class="col-2">
                            <div class="row">
                                <label>selected</label>
                            </div>
                            <div class="row align-items-baseline">
                                <div class="col-auto pr-0">
                                    <span class="value">{{this.selectedInvoices.length}}</span>
                                    <span class="label">Invoices</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <label>Total Amount</label>
                            </div>
                            <div class="row align-items-baseline">
                                <div class="col-auto pr-0">
                                    <span class="pi pi-indiarupee value">{{getTotalAmount(this.selectedInvoices)}}</span>
                                    <span class="label">{{transformText(getTotalAmount(this.selectedInvoices))}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <label>Total Discounted Amount</label>
                            </div>
                            <div class="row align-items-baseline">
                                <div class="col-auto pr-0">
                                    <span class="pi pi-indiarupee value">0</span>
                                    <span class="label">Crores</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="row align-items-baseline">
                                <div class="col">
                                    <p-button class="btn-success" [disabled]="this.selectedInvoices.length == 0" (onClick)="applyDiscountOnSelectedInvoices(this.selectedInvoices)" label="Apply Discount">
                                        <img alt="edit" class="img-fluid" src="/assets/table-icons/percent_white.png" /> 
                                    </p-button>
                                </div>
                                <div class="col-auto">
                                    <p-button label="Send to Seller" [disabled]="this.selectedInvoices.length == 0" (click)="visible3 = true" icon="pi pi-send">
                                        
                                    </p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-card>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
<p-dialog header="Apply Discount" [modal]="true" [(visible)]="visible" [style]="{ width: '40rem' }">
    <div class="row">
        <div class="col-md-6">
            <div class="flex flex-column mb-2 text-left">
                <label for="username">Total Amount</label>
                <input pInputText id="username" aria-describedby="username-help" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="flex flex-column mb-2 text-left">
                <label for="username">Discount</label>
                <input pInputText id="username" aria-describedby="username-help" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="flex flex-column mb-2 text-left">
                <label for="username">Amount After Discount</label>
                <input pInputText id="username" aria-describedby="username-help" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="flex flex-column mb-2 text-left">
                <label for="username">Disbursement Date</label>
                <p-calendar [(ngModel)]="date1" [showIcon]="true" append="body" [showOnFocus]="false" inputId="buttondisplay"
                 />
            </div>
        </div>        
    </div>
    <ng-template pTemplate="footer">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3">
                <p-button class="btn-success" label="Apply" (onClick)="visible = false" />
            </div>
            <div class="col-3">
                <p-button label="Cancel" class="btn-secondary"  (onClick)="visible = false" />
            </div>
            <div class="col-3"></div>

        </div>

    </ng-template>
</p-dialog>

<p-dialog header="Apply discount for selected invoices" [modal]="true" [(visible)]="visible1" [style]="{ width: '40rem' }">
<form [formGroup]="applyDiscountSelectedForm" class="col-md-12" (ngSubmit)="applyDiscountSelectedFormSubmit()">
    <div class="row">       
        <div class="col-md-6">
             <div class="flex flex-column mb-2 text-left">
                            <label for="username">Discount (calculated in %)</label>
                            <input formControlName="discount" type="text" maxlength="50" pInputText
                                [ngClass]="{'error':((!applyDiscountSelectedForm.controls['discount'].valid && applyDiscountSelectedForm.controls['discount'].touched) || (!applyDiscountSelectedForm.controls['discount'].valid && applyDiscountSelectedForm.controls['discount'].untouched && applyDiscountSelectedFormSubmitAttempt))}">
                            <span class="error-div" *ngIf="(!applyDiscountSelectedForm.valid && applyDiscountSelectedFormSubmitAttempt)">
                                <p class="validation-label mb-0"
                                    *ngIf="applyDiscountSelectedForm.controls['discount'].errors?.['required']">
                                    Discount is required</p>
                                <p class="validation-label mb-0"
                                    *ngIf="!applyDiscountSelectedForm.controls['discount'].errors?.['required'] && applyDiscountSelectedForm.controls['discount'].errors?.['pattern']">
                                    Please Enter Valid Discount</p>
                            </span>
                        </div>
        </div>
        <div class="col-md-6">
            <div class="flex flex-column mb-2 text-left">
                <div class="flex flex-column mb-2 text-left">
                            <label for="username">Disbursement Date</label>
                            <p-calendar formControlName="disbursementDate" [showIcon]="true" append="body"
                                [showOnFocus]="false" inputId="buttondisplay"
                                [ngClass]="{'error':((!applyDiscountSelectedForm.controls['disbursementDate'].valid && applyDiscountSelectedForm.controls['disbursementDate'].touched) || (!applyDiscountSelectedForm.controls['disbursementDate'].valid && applyDiscountSelectedForm.controls['disbursementDate'].untouched && applyDiscountSelectedFormSubmitAttempt))}" />
                            <span class="error-div" *ngIf="(!applyDiscountSelectedForm.valid && applyDiscountSelectedFormSubmitAttempt)">
                                <p class="validation-label mb-0"
                                    *ngIf="applyDiscountSelectedForm.controls['disbursementDate'].errors?.['required']">
                                    Disbursement date is required</p>
                                <p class="validation-label mb-0"
                                    *ngIf="!applyDiscountSelectedForm.controls['disbursementDate'].errors?.['required'] && applyDiscountSelectedForm.controls['disbursementDate'].errors?.['pattern']">
                                    Please Enter Valid Disbursement Date</p>
                            </span>
                        </div>
            </div>
        </div>      
        <div class="col-md-12">
            <p-table [value]="selectedInvoices" [rows]="10" styleClass="p-datatable-striped" [first]="first"
                >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Invoice Number</th>
                        <th>Invoice Amount</th>
                        <th>Discounted Amount</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-invoice>
                    <tr>
                        <td>{{invoice?.invoice_number}}</td>
                        <td>{{invoice?.invoice_amount}}</td>
                        <td></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>  
        </div>

        <div class="row mt-2">       
        <div class="col-3"></div>
            <div class="col-3">
                <p-button class="btn-success" type="submit" label="Apply"/>
            </div>
            <div class="col-3">
                <p-button label="Cancel" class="btn-secondary"  (onClick)="visible1 = false" />
            </div>
            <div class="col-3"></div>
    </div>
   
</form>
</p-dialog>

<p-dialog header="Items" [modal]="true" [(visible)]="visible2" [style]="{ width: '40rem' }">
    <div class="row">    
        <div class="col-md-12">
            <p-table [value]="invoiceItems" [rows]="10" styleClass="p-datatable-striped" [first]="first"
                >
                <ng-template pTemplate="header">
                    <tr>
                        <th>item Number</th>
                        <th>item Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total Amount</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-invoiceItem>
                    <tr>
                        <td>{{invoiceItem?.item_number}}</td>
                        <td>{{invoiceItem?.item_name}}</td>
                        <td>{{invoiceItem?.unit_price}}</td>
                        <td>{{invoiceItem?.quantity}}</td>
                        <td>{{invoiceItem?.total_amount}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>  
    </div>
    <ng-template pTemplate="footer">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3">
                <p-button class="btn-success" label="Apply" (onClick)="visible2 = false" />
            </div>
            <div class="col-3">
                <p-button label="Cancel" class="btn-secondary"  (onClick)="visible2 = false" />
            </div>
            <div class="col-3"></div>

        </div>

    </ng-template>
</p-dialog>

<p-dialog header="Send to Seller" [modal]="true" [(visible)]="visible3" [style]="{ width: '60rem' }">
    <div class="row">    
        <div class="col-md-12 mt-2 mb-2">
            <span class="">Are you sure you want to send these invoices to the seller? Please ensure that the data entered is correct.</span>
        </div>
        <div class="col-md-12">
            <p-table [value]="selectedInvoices" [rows]="10" styleClass="p-datatable-striped" [first]="first">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Invoice Number</th>
                        <th>Invoice Amount</th>
                        <th>Discount</th>
                        <th>Discounted Amount</th>
                        <th>Disbursement Date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-invoice>
                    <tr>
                        <td>{{invoice?.invoice_number}}</td>
                        <td>{{invoice?.invoice_amount}}</td>
                        <td></td>                        
                        <td></td>
                        <td>{{invoice?.invoice_due_date}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>  
    </div>
    <ng-template pTemplate="footer">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3">
                <p-button class="btn-success" label="Send" (onClick)="sendtoSeller()" />
            </div>
            <div class="col-3">
                <p-button label="Cancel" class="btn-secondary"  (onClick)="visible3 = false" />
            </div>
            <div class="col-3"></div>

        </div>

    </ng-template>
</p-dialog>
<p-dialog header="" [modal]="true" [(visible)]="visible4" [style]="{ width: '40rem' }">
    <div class="row">    
        <div class="col-md-12 text-center">
            <img src="assets/SealCheck.png" class="img-fluid" alt="Seal Check" >
        </div>
        <div class="col-md-12 text-center">
            <h4>Invoices Sent Successfully!</h4>
        </div>  
        <div class="col-md-12 text-center">
            <span class="">
                The selected invoices has been sent to the seller successfully.
            </span>
        </div>      
    </div>
    <ng-template pTemplate="footer">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <p-button class="btn-success" label="Okay" (onClick)="visible4 = false" />
            </div>
            <div class="col-3"></div>
        </div>

    </ng-template>
</p-dialog>
