::ng-deep {
    .p-card {
        .p-card-body{
            padding: 0px 15px;
        }
    }
    .invoice {
        color: #0EA5E9;
        text-decoration: underline;
        font-weight: 600 !important;
        cursor: pointer;
    }
}