<div class="cred-invoice container text-center">
    <div class="content-box">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-12 platform-logo ">
                    <div class="align-items-center d-flex justify-content-center">
                        <img class="logo" alt="Logo Image" class="img-fluid w-50" src="assets/logo.png" /> 
                    </div>                  
                </div>
                <div class="col-12 mt-2 heading">
                    <div class="row">
                        <span class="header-title"><h5>Create Your Account</h5></span>
                    </div>
                    <div class="row">
                        <span class="sub-title">Join Cred Invoice and streamline your invoice financing.</span>
                    </div>
                </div>
                <div class="col-12 inputs">
                    <div class="row">
                        <div class="col-6">
                            <div class="flex flex-column mb-2 text-left">
                                <label for="username">First Name</label>
                                <input pInputText id="username" aria-describedby="username-help" />
                                <!-- <small id="username-help">Enter your username.</small> -->
                            </div>
                            <div class="flex flex-column mb-2 text-left">
                                <label for="username">Email</label>
                                <input pInputText id="username" aria-describedby="username-help" />
                                <!-- <small id="username-help">Enter your password.</small> -->
                            </div>
                            <div class="flex flex-column mb-2 text-left">
                                <label for="username">Password</label>
                                <input pInputText id="username" aria-describedby="username-help" />
                                <!-- <small id="username-help">Enter your password.</small> -->
                            </div>
                        </div>
                         <div class="col-6">
                            <div class="flex flex-column mb-2 text-left">
                                <label for="username">Last Name</label>
                                <input pInputText id="username" aria-describedby="username-help" />
                                <!-- <small id="username-help">Enter your username.</small> -->
                            </div>
                            <div class="flex flex-column mb-2 text-left">
                                <label for="username">Business PAN</label>
                                <input pInputText id="username" aria-describedby="username-help" />
                                <!-- <small id="username-help">Enter your password.</small> -->
                            </div>
                            <div class="flex flex-column mb-2 text-left">
                                <label for="username">Confirm Password</label>
                                <input pInputText id="username" aria-describedby="username-help" />
                                <!-- <small id="username-help">Enter your password.</small> -->
                            </div>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-8">                            
                            <div class="flex flex-column  text-left">
                                <p-button label="Create My Account" (click)="kyc()"></p-button>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>                    
                </div>     
                <div class="col-12">
                    <div class="row mt-4">
                        <div class="row">
                            <span class="sub-title">By signing up you will be agreeing to our <b>Privacy policy</b> and <b>terms and conditions.</b></span>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-8">                            
                            <div class="row">
                                <span class="sub-title">Already have an account?</span>
                            </div>
                            <div class="row">
                                <p-button class="btn-secondary" (click)="login()" label="Sign In to your account"></p-button>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    
                </div>          
            </div>
        </div>
        <div class="col-md-6">
            <img alt="Login Image" class="img-fluid" src="assets/login-image.png" /> 
        </div>
    </div>
</div>
</div>
