::ng-deep{
    .p-chip{
        padding: 5px 40px;
        .p-chip-text{
            font-size: 14px;
            margin: 0 !important;
        }
    }
    .active{
        .p-chip{
            background-color: var(--primary);
            color:var(--white);
        }
    }
}