// /* You can add global styles to this file, and also import other style files */
// :root {
//     --app-bg-color: #ffffff;
//     --app-button-bg-color: #0EA5E9;
//     --app-button-border-color: #0EA5E9;
//     --font-family: system-ui;
//     --app-page-header-color: #374151;
//     --app-page-helptext-color: #6B7280;
//     --app-text-color: #6B7280;
//     --app-text-highlight-color: #374151;
//     --app-input-border-color: #BAE6FD;
// }

html * {
    font-family: system-ui !important;
}


textarea:focus-visible {
    outline: 0px !important;
}
.p-button:focus {
    box-shadow: none !important;
}
.invoice {
    color: #0EA5E9;
    text-decoration: underline;
    font-weight: 600 !important;
    cursor: pointer;
}
.status{
    font-weight: 600 !important;
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 10px;
    &.SENT_TO_SELLER{
        background:#FFFBEB;
        color:#D97706;
    }
    &.PENDING{
        background:#FFFBEB;
        color:#D97706;
    }
    &.REJECTED_BY_SELLER{
        background: #FFF1F2;
        color:#F43F5E;
    }
    &.ACCEPTED_BY_SELLER,&.APPLIED_DISCOUNT{
        background:#F0F9FF;
        color: #0EA5E9;
    }
    &.APPROVE{
        background:#F0FDFA;
        color:#0D9488;
    }
}
.cred-invoice {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .content-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100%;

        .platform-logo {
            .title {
                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
}

.p-overlay {
    .p-dropdown-panel {
        .p-dropdown-trigger {
            width: 2rem !important;
        }

        .p-dropdown-items {
            margin-bottom: 0 !important;
            padding-left: 0 !important;
        }
    }
}

.p-chip {
    cursor: pointer;
    padding: 0px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .p-chip-text {
        font-size: 12px;
         margin-top: 0.2rem !important;
         margin-bottom: 0.2rem !important;
    }
}

.active {
    .p-chip {
        background-color: var(--primary);
        color: var(--white);
    }
}

.form-details{
    .p-card {
        .p-card-body{
            padding: 0px 15px;
        }
    }  
    .label {
        font-weight: 600;
        font-size: 12px;
        color: var(--sub-title) !important;
    }
    .value {
        font-weight: 600;
        font-size: 14px;
        margin-top: 5px;
    }
}

.p-dialog{
    .p-dialog-header-close{
        display: none;
    }
}