<p-toast />
<p-confirmPopup />
<div class="row app-container">
    <p-tabView>
        <p-tabPanel header="Bidding List">
            <div class="col-md-12">
                <div class="row align-items-center">
                    <div class="col-3">
                        <p-multiSelect [options]="sellers" (onChange)="getBids()" [(ngModel)]="selectedSellers" optionLabel="label"
                            placeholder="Select Sellers" />
                    </div>

                    <div class="col-3">
                        <p-multiSelect [options]="buyers" (onChange)="getBids()" [(ngModel)]="selectedBuyers" optionLabel="label"
                            placeholder="Select Buyers" />
                    </div>
                    <div class="col-3"></div>
                    <div class="col-3">
                        <!-- <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-search"></i>
                    </p-inputGroupAddon>
                    <input pInputText placeholder="Search..." />
                </p-inputGroup> -->
                        <div class="card flex justify-content-center actions">
                            <p-button label="View Reports" icon="pi pi-chart-bar">
                            </p-button>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center" *ngIf="selectedSellers?.length">
                    <div class="col-auto">
                        <label class="font-medium">Selected Sellers: </label>
                    </div>
                    <div class="col">
                        <div class="flex align-items-center gap-2 flex-wrap pt-1 pb-1">
                            <ng-template ngFor let-seller [ngForOf]="selectedSellers" let-i="index">
                                <p-chip [label]="getSelectedSellerName(seller)" />
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center" *ngIf="selectedBuyers?.length">
                    <div class="col-auto">
                        <label class="font-medium">Selected Buyers: </label>
                    </div>
                    <div class="col">
                        <div class="flex align-items-center gap-2 flex-wrap pt-1 pb-1">
                            <ng-template ngFor let-buyer [ngForOf]="selectedBuyers" let-i="index">
                                <p-chip [label]="getSelectedBuyerName(buyer)" />
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                  
                       <p-table [value]="invoices" [(selection)]="selectedInvoices" dataKey="id" [paginator]="true" [rows]="10" styleClass="p-datatable-striped" [first]="first"
                [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 2rem"><p-tableHeaderCheckbox /></th>
                        <th>Created At</th>
                        <th>Buyer</th>
                        <th>Payment Amount</th>
                        <th>Seller</th>
                        <th>Disbursement Date</th>
                        <th>Repayment Date</th>
                        <th>Tenure</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-invoice let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="invoice" />
                        </td>
                        <td>{{invoice?.invoice_date | date:'dd-MM-yyyy' }}</td>
                        <td>
                           <div class="row align-items-center">
                                <div class="col-auto pr-0">
                                    <img alt="seller" style="width: 40px;" class="img-fluid" title="Seller" src="/assets/icons/seller_large.png" />
                                </div>
                                <div class="col pl-2">
                                    <span class="invoice">{{getBuyerName(invoice)}}</span>
                                </div>
                            </div>
                        </td> 
                           
                        <td>{{invoice?.invoice_amount}}</td>
                        <td>
                           <div class="row align-items-center">
                                <div class="col-auto pr-0">
                                    <img alt="seller" style="width: 40px;" class="img-fluid" title="Seller" src="/assets/icons/seller_large.png" />
                                </div>
                                <div class="col pl-2">
                                    <span class="invoice">{{getSellerName(invoice)}}</span>
                                </div>
                            </div>
                        </td>
                        <td>{{invoice?.disbursement_date | date:'dd-MM-yyyy'}}</td>
                        <td>{{invoice?.repayment_date | date:'dd-MM-yyyy'}}</td>
                        <td>{{invoice?.tenure}}</td> 
                        <td class="actions" [ngClass]="this.selectedInvoices.length  ? 'actions-disabled' : ''">
                            <img alt="trash"  class="img-fluid"   (click)="SignleBid(invoice)"  title="Bidding" src="/assets/icons/Gavel_black.png" />
                            <img alt="edit" class="img-fluid"   title="View" src="/assets/table-icons/view.png" />
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </div>

        <div class="row invoice-bottom-div align-items-center mt-2">
            <div class="col-2"></div>
            <div class="col-8">
                <p-card>
                    <div class="row align-items-center">
                        <div class="col-3">
                            <div class="row">
                                <label>selected</label>
                            </div>
                            <div class="row align-items-baseline">
                                <div class="col-auto pr-0">
                                    <span class="value">{{this.selectedInvoices.length}}</span>
                                    <span class="label">Invoices</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <label>Total Amount</label>
                            </div>
                            <div class="row align-items-baseline">
                                <div class="col-auto pr-0">
                                    <span class="pi pi-indiarupee value">{{getTotalAmount(this.selectedInvoices)}}</span>
                                    <span class="label">{{transformText(getTotalAmount(this.selectedInvoices))}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row align-items-baseline">
                              
                                <div class="col-auto">
                                    <p-button label="BulkBid Seected Invoices" (onClick)="applyDBiddingOnSelectedInvoices(this.selectedInvoices)" [disabled]="this.selectedInvoices.length == 0"  icon="pi pi-send">
                                        
                                    </p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-card>
            </div>
            <div class="col-2"></div>
        </div>
                
        </p-tabPanel>
        <p-tabPanel header="My Biddings">
            <p>Coming Soon!!</p>
        </p-tabPanel>
    </p-tabView>

</div>



<p-dialog header="Bulk Bid Selected Invoices" [modal]="true" [(visible)]="visible1" [style]="{ width: '50rem' }">
<form [formGroup]="bulkBidSelectedForm" class="col-md-12" (ngSubmit)="bulkBidSelectedFormSubmit()">
    <div class="row invoice-bottom-div align-items-center">       
        <div class="col-md-5">
             <div class="flex flex-column mb-2 text-left">
                            <label for="username">Interest Rate (calculated in %)</label>
                            <input formControlName="discount" type="text" maxlength="50" pInputText
                                [ngClass]="{'error':((!bulkBidSelectedForm.controls['discount'].valid && bulkBidSelectedForm.controls['discount'].touched) || (!bulkBidSelectedForm.controls['discount'].valid && bulkBidSelectedForm.controls['discount'].untouched && bulkBidSelectedFormSubmitAttempt))}">
                            <span class="error-div" *ngIf="(!bulkBidSelectedForm.valid && bulkBidSelectedFormSubmitAttempt)">
                                <p class="validation-label mb-0"
                                    *ngIf="bulkBidSelectedForm.controls['discount'].errors?.['required']">
                                    Discount is required</p>
                                <p class="validation-label mb-0"
                                    *ngIf="!bulkBidSelectedForm.controls['discount'].errors?.['required'] && bulkBidSelectedForm.controls['discount'].errors?.['pattern']">
                                    Please Enter Valid Discount</p>
                            </span>
                        </div>
        </div>
        <div class="col-md-1"></div>
         <div class="col-md-3">
                            <div class="row">
                                <label>selected</label>
                            </div>
                            <div class="row align-items-baseline">
                                <div class="col-auto pr-0">
                                    <span class="value">{{this.selectedInvoices.length}}</span>
                                    <span class="label">Invoices</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label>Total Amount</label>
                            </div>
                            <div class="row align-items-baseline">
                                <div class="col-auto pr-0">
                                    <span class="pi pi-indiarupee value">{{getTotalAmount(this.selectedInvoices)}}</span>
                                    <span class="label">{{transformText(getTotalAmount(this.selectedInvoices))}}</span>
                                </div>
                            </div>
                        </div>
        
        <div class="col-md-12 mt-2">
            <p-table [value]="selectedInvoices" [rows]="10" styleClass="p-datatable-striped" [first]="first"
                >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Buyer</th>
                        <th>Cost of Funds</th>
                        <th>Payment Amount</th>
                        <th>Tenure</th>
                        <th>Disbursement Date</th>
                        <th>Repayment Date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-invoice>
                    <tr>
                        <td> <div class="row align-items-center">
                                <div class="col-auto pr-0">
                                    <img alt="seller" style="width: 40px;" class="img-fluid" title="Seller" src="/assets/icons/seller_large.png" />
                                </div>
                                <div class="col pl-2">
                                    <span class="invoice">{{getBuyerName(invoice)}}</span>
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td>{{invoice?.invoice_amount}}</td>
                        <td>{{invoice?.tenure}}</td>
                        <td>{{invoice?.disbursement_date}}</td>
                        <td>{{invoice?.repayment_date}}</td>
                        <td></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>  
        </div>

        <div class="row mt-2">       
        <div class="col-3"></div>
            <div class="col-3">
                <p-button class="btn-success" type="submit" label="Bid Invoices"/>
            </div>
            <div class="col-3">
                <p-button label="Cancel" class="btn-secondary"  (onClick)="visible1 = false" />
            </div>
            <div class="col-3"></div>
    </div>
   
</form>
</p-dialog>