<p-toast />
    <p-confirmPopup />
<div class="row app-container">
    <p-tabView>
                    <p-tabPanel header="Bidding List">
                        <div class="col-md-12">
        <div class="row align-items-center">
            <div class="col-3">
                <!-- <p-dropdown [options]="sellers" optionLabel="label"
                    placeholder="Selected Seller" /> -->
                     <p-multiSelect 
    [options]="sellers" 
    [(ngModel)]="selectedSellers" 
    optionLabel="label" 
    placeholder="Select Sellers" />
            </div>

            <div class="col-3">
                <!-- <p-dropdown [options]="buyers" optionLabel="label"
                    placeholder="Select Buyer" /> -->
                     <p-multiSelect 
    [options]="buyers" 
    [(ngModel)]="selectedBuyers" 
    optionLabel="label" 
    placeholder="Select Buyers" />
            </div>
            <div class="col-3"></div>
            <div class="col-3">
                <!-- <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-search"></i>
                    </p-inputGroupAddon>
                    <input pInputText placeholder="Search..." />
                </p-inputGroup> -->
                <div class="card flex justify-content-center actions">
                    <p-button label="View Reports"  icon="pi pi-chart-bar">
                    </p-button>
                </div>
            </div>
        </div>
        <div class="row align-items-center" *ngIf="selectedSellers?.length">
            <div class="col-auto">
                <label class="font-medium">Selected Sellers: </label>
            </div>
            <div class="col">
                 <div class="flex align-items-center gap-2 flex-wrap pt-1 pb-1">
                    <ng-template ngFor let-seller [ngForOf]="selectedSellers" let-i="index">
                        <p-chip [label]="getSelectedSellerName(seller)" />
                    </ng-template>
                </div>
            </div>         
        </div>
        <div class="row align-items-center" *ngIf="selectedBuyers?.length">
            <div class="col-auto">
                <label class="font-medium">Selected Buyers: </label>
            </div>
            <div class="col">
                 <div class="flex align-items-center gap-2 flex-wrap pt-1 pb-1">
                    <ng-template ngFor let-buyer [ngForOf]="selectedBuyers" let-i="index">
                        <p-chip [label]="getSelectedBuyerName(buyer)" />
                    </ng-template>
                </div>
            </div>         
        </div>
        <div class="row align-items-center">
            <p-table [value]="products" [paginator]="true" [rows]="10" styleClass="p-datatable-striped" [first]="first"
                [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Seller</th> 
                        <th>Invoice Number</th>                
                        <th>Discounted Amount</th>
                        <th>Disbursement Date</th>                        
                        <th>Status</th>  
                        <th>Total Bids</th>                           
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr class="cursor-pointer" (click)="invoiceDetais()">
                        <td><a href="javascript:void(0)" class="invoice"><img alt="seller" class="img-fluid" title="Seller" src="/assets/table-icons/seller.png" />Moh Labs </a></td>
                        <td>77779777</td>
                        <td>77Lakhs</td>
                        <td>01/04/2025</td>
                        <td><span class="status {{product.statusId}}">{{product.status}}</span></td>
                        <td class="invoice cursor-pointer" (click)="visible2 = true">18</td>                        
                        <td class="actions">
                            <img alt="trash" class="img-fluid"  (click)="delete($event)"  title="Delete" src="/assets/table-icons/Trash.png" />
                            <img alt="edit" class="img-fluid" title="Edit" src="/assets/table-icons/Pencil.png" />
                            <img alt="discount" (click)="visible = true" class="img-fluid" title="Discount" src="/assets/table-icons/percent_green.png" /> 
                            <img alt="view" (click)="visible = true" class="img-fluid" title="view" src="/assets/table-icons/view.png" /> 
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
                    </p-tabPanel>
                    <p-tabPanel header="My Biddings">
                        <p>Coming Soon!!</p>
                    </p-tabPanel>
                </p-tabView>
    
</div>

